<div id="timer-overlay" class="timer-overlay w-100 h-100 d-flex">

        <div ngDraggable [handle]="TimerDragHandle" class="timer-container m-auto d-flex flex-column shadow" style="width: 355px; height: 165px;">
            
            <div #TimerDragHandle class="timer-header bg-success d-flex justify-content-between align-items-center" style="height: 45px;">
                <span class="btn fa fa-arrows"></span>
                <span>Timer</span>
                <span class="util-timer-btns btn-group" role="group" >
                    <button *ngIf="selectedScreen==screens.timeUp" class="btn btn-timer-reset fa fa-repeat"
                             (click)="showScreen({screen: screens.typeChooser})" ></button>
                    <span *ngIf="selectedScreen==screens.typeChooser || selectedScreen==screens.timeSetter" (click)="toggleSoundChooser()">
                        <button *ngIf="selectedSound" class="btn btn-timer-sound fa fa-bell"></button>
                        <button *ngIf="!selectedSound" class="btn btn-timer-sound fa fa-bell-slash"></button>
                    </span>
                    <button class="btn btn-timer-close fa fa-remove"></button>
                </span>
            </div>

            <div class="timer-content-stack flex-grow-1 bg-light position-relative">
                <div *ngIf="(selectedScreen==screens.typeChooser || selectedScreen==screens.timeUp)" 
                        class="timer-type-chooser timer-screen container-fluid ">
                    <span class="fa fa-hourglass-start col-3"></span>
                    <span class="type-chooser-content m-auto col-9">
                        <span >Count Type:</span>
                        <button class="btn d-inline-flex flex-column border" 
                        (click)="showScreen({screen: screens.timeSetter, timerType:timerTypes.up})">
                            <span class="fa fa-long-arrow-up"></span>
                            <span>UP</span>
                        </button>
                        <button class="btn d-inline-flex flex-column border" 
                        (click)="showScreen({screen: screens.timeSetter, timerType:timerTypes.down})">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>DOWN</span>
                        </button>
                    </span>
                </div>
                
                <div *ngIf="selectedScreen==screens.timeSetter" 
                    class="timer-time-setter timer-screen container-fluid flex-row align-items-center">
                    <span class="fa fa-hourglass-start col-3"></span>
                    <div class="d-inline-flex flex-column col-9 p-0">
                        <div class="time-setter d-flex">
                            <h5 class="d-inline-flex mt-auto mb-auto">Total Time:</h5>
                            <span class="min-setter d-inline-flex flex-column">
                                <button (click)="updateOrgTime({type:'min', action:'inc'})">+</button>
                                <button (click)="updateOrgTime({type:'min', action:'dec'})">-</button>
                            </span>
                            <h5 class="time-display bg-time-display d-inline-flex col-5 mt-auto mb-auto justify-content-center">{{timeSetterOrgVal.min + ":" + timeSetterOrgVal.sec}}</h5>
                            <span class="sec-setter d-inline-flex flex-column">
                                <button (click)="updateOrgTime({type:'sec', action:'inc'})">+</button>
                                <button (click)="updateOrgTime({type:'sec', action:'dec'})">-</button>
                            </span>
                        </div>
                        <div class="btn-container mt-3 d-flex">
                            <button class="btn btn-primary mr-3 flex-grow-1" (click)="showScreen({screen: screens.typeChooser})">TYPE</button>
                            <button class="btn btn-primary flex-grow-1" (click)="startTimer()">START</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedScreen==screens.timeRunner" 
                    class="timer-time-runner container timer-screen container-fluid pr-0">
                    <span class="fa fa-hourglass-start col-3"></span>
                    <span class="time-runner-container d-inline-flex flex-column col-9 m-auto">
                      <div class="time-anim-container w-100 bg-secondary mt-1 mb-1">
                        <div class="time-anim bg-red h-100 bg-danger"
                            [ngStyle]="{width:(100*elapsedTimeProportion)+'%'}"></div>
                      </div>
                      <h3 class="time-runner-display-container d-flex h-50 justify-content-center align-items-center bg-time-display m-0">
                        <span *ngIf="selectedTimerType==timerTypes.up">{{timeSetterOrgVal.min + ":" + timeSetterOrgVal.sec}}</span>
                        <span *ngIf="selectedTimerType==timerTypes.up" class="m-2">/</span>
                        <span >{{timeSetterCurrVal.min + ":" + timeSetterCurrVal.sec}}</span>
                      </h3>
                      <div class="btn-container mt-2 mb-2 d-flex">
                        <button class="btn btn-primary mr-3 flex-grow-1" (click)="stopTimer(true)">STOP</button>
                        <button class="btn btn-primary flex-grow-1" (click)="pauseTimer()">PAUSE</button>
                    </div>
                    </span>
                </div>
                <div *ngIf="selectedScreen==screens.timeUp" 
                    class="timer-time-up container timer-screen container-fluid p-0">
                  <div class="time-up-curtain bg-dark position-absolute w-100 h-100"></div>
                  <div class="time-up-msg-container d-flex position-absolute w-100 h-100">
                    <span class="m-auto">Time is up!</span>
                  </div>
                  
                </div>
            </div>
            
        </div>

        <div *ngIf=soundChooseinView class="container timer-sound-chooser position-absolute bg-light shadow p-3">
            <h4 class="d-flex">
                <span class="fa fa-clock-o d-inline-flex align-items-center"></span>
                <span class="pl-2 mr-auto">Alarm Sound</span> 
                <button class="fa fa-remove border-0 bg-light p-0" (click)="toggleSoundChooser()"></button> 
            </h4>
            <ul class="list-group">
                
                <li *ngFor="let sound of sounds; let i = index" [attr.data-index]="i" class="list-group-item bg-light d-flex ">
                    <span class="mr-auto">{{sound.name}}</span>
                    <input type="radio" name="sound" (change)="onSoundChange($event)" value={{i}} aria-label="radio for following text input">
                </li>
            
            </ul>
        </div>

    </div>