html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.foc-app{
    background: url("https://asgard-thor-content.comprodls.com/acc-cup1/cup1-mvp-thor-orgs/products/dev_test_ebook_bundle_104_ebook/8/assets/images/sm/Evolve2 ebook115.jpg") no-repeat 50% 0%;
    width: 100%;
    height: 100%;
}
